body{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

ol{
    text-align: center;
    list-style-position: inside;
}
li{
    text-align: center;
    justify-content: center;
}

/*Tile Styling */

.word-tiles-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tiles{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px;
}
.tileRows{
    display: flex;
    justify-content: center;
}

/* KEYBOARD STYLING */
.key{
    text-transform: uppercase;
    background-color: grey;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-right: 6px;
    margin-top: 2px;
    cursor: pointer
}

